{% extends "base.html" %}

{% block content %}
{% block styles %}
<link rel="stylesheet"
    href="{{ request.url_for('static', path='css/chat.css')}}">
{% endblock %}

    <section class="chat-container bg-white p-4 shadow-sm rounded mx-auto">

            <h1 class="text-center">Chat with the AI</h1>
        <div class="chat-box p-3" id="chat-box"></div>
        <div class="input-group mt-3">
            <input type="text" id="user-input" onkeypress="handleKeyPress(event)" class="form-control ps-2" placeholder="Type a message...">
            <button class="btn btn-primary" id="send_chat" onclick="sendMessage()">Send</button>
        </div>
    </section>
    
{% block scripts %}
<script src="{{ request.url_for('static', path='js/chat.js')}}"></script>
{% endblock %}

{% endblock %}
